extends layout

block content
  h1 Vgilant - Take the initiative
  p.lead We will help you get the best offer for any service you like.
  hr
  .row
    .col-sm-12
      h2 Used to running after them?
      p You know the story: each time you need a service (a loan, an insurance policy, even a new mobile provider), you go through calling each vendor, asking for their best offer, comparing appelse to oranges and eventually giving up and signing with the last offer.
  .row
    .col-sm-12
      h2 Vgilant to the rescue!
    .col-sm-6
      h2 Let them run after you!
      p Just let us know what service you require, and we will get those offers streaming to you. A full list of relevant vendors, all possible discounts and customer clubs, at your fingertips.
      p
        a.btn.btn-default(href='#', role='button') Vendors list »
    .col-sm-6
      h2 Ask, compare, rinse and repeat.
      p Easily compare all granfathered offers, select the top ones you like, and re-bid them against each other. Repeat until the vendors had met your terms, to your complete satisfaction.
      p
        a.btn.btn-default(href='#', role='button') How it works »
  .row
  .row
    hr
  .row
    .col-sm-2
    .col-sm-8
      div(ng-controller="ServiceController as ctrl")
        if !user
          p Login to Vgilant to get the best service
          a.btn.btn-default(href='/login', role='button') Login
        else
          md-content.md-padding
            form.form-horizontal(ng-submit="$event.preventDefault()")
              .form-group
                .col-sm-5
                  label.control-label(for='askService') Which service do you require today:
                .col-sm-7
                  md-autocomplete(md-selected-item="ctrl.selectedItem", 
                    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)",
                    md-search-text="ctrl.searchText",
                    md-selected-item-change="ctrl.selectedItemChange(item)",
                    md-items="item in ctrl.querySearch(ctrl.searchText)",
                    md-item-text="item.display",
                    md-min-length="0",
                    placeholder="Select a service")
                    md-item-template
                      span(md-highlight-text="ctrl.searchText",md-highlight-flags="^i") {{item.display}}
                    md-not-found No services matching "{{ctrl.searchText}}" were found.
                      a(ng-click="ctrl.newState(ctrl.searchText)") Ask for a new one!
    .col-sm-2